---
import config from '../content/config/config.json'
import { localeCodeMap, locales } from '../i18n/ui'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import HeaderLink from './HeaderLink.astro'
import IconLink from './react/IconLink'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const { currentLocale } = Astro
const pathNameWithoutLocale = Astro.url.pathname.replace(
	`/${currentLocale}`,
	''
)
---

<header>
	<nav>
		<h2><a href={`/${currentLocale}`}>{config.seo.title}</a></h2>

		<!-- Navigation -->
		<div class="internal-links">
			<HeaderLink href={`/${lang}/home/`}>
				{t('nav.home')}
			</HeaderLink>
			<HeaderLink href={`/${lang}/blog/`}>
				{t('nav.blog')}
			</HeaderLink>
			<HeaderLink href={`/${lang}/about/`}>
				{t('nav.about')}
			</HeaderLink>
		</div>

		<!-- Language Selector -->
		<div class="internal-links">
			{
				locales.map((locale) => (
					<a href={`/${locale}${pathNameWithoutLocale}`}>
						{localeCodeMap[locale as keyof typeof localeCodeMap]}
					</a>
				))
			}
		</div>

		<!-- Social Links -->
		<div class="social-links">
			{
				config?.contactLinks?.map((link) => {
					return <IconLink {...link} />
				})
			}
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
